html {
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    padding-top: 10px;
    height: 70px;
    margin-bottom: 0;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 10px;
    background-color: white;
    color: black;
    margin-bottom: 0;
}

.flexcontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    background-color: white;
    color: black;
    margin-bottom: 0;
}


.flexlinks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    background-color: white;
    color: black;
    margin-bottom: 0;
    flex-basis: content;
}

.flexlinkslogo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: white;
    color: black;
    margin-bottom: 0;
    flex-basis: 10%;
}



ul {
    text-decoration: none;
    list-style-type: none;
}


#logo {
    width: 150px;
    margin-top: 0;
    padding: 0;
}
  
a:link {
    display: flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    color: black;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 14px;
    font-weight: 750;
    padding: 10px;
}

a:hover {
    color: rgb(70, 133, 206);
}

p {
    color: black;
}

img {
    width:100%;
}
