html {
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    padding-top: 10px;
    height: 70px;
    margin-bottom: 0;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 10px;
    background-color: white;
    color: black;
    margin-bottom: 0;
}

/*.flexcontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    color: black;
}
*/
.gridcontainer {
    display: grid;
    grid-template-columns: 10px 1fr 1fr;
    grid-template-rows: 1fr; 
    gap: 5px 10px; 
    justify-content: space-between; 
    align-content: stretch; 
    align-items: stretch; 
    width: 100%; 
    height: 50px; 
}

.gridcontainer > .flexlinks {
    justify-self: start;
}


.flexlinks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    background-color: white;
    color: black;
    margin-bottom: 0;
    flex-basis: content;
}

ul {
    text-decoration: none;
    list-style-type: none;
}


.logo {
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 900;
    color: #007BC3;
    text-transform: uppercase;
    margin-top: 0;
    padding: 0;
}
  
a:link {
    display: flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    color: #052D40;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 14px;
    font-weight: 750;
    padding: 10px;
}

a:hover {
    color: rgb(70, 133, 206);
}

p {
    color: black;
}

.heroimg {
    width:100%;
    filter: contrast(200%);
    filter: blur(2px);
    filter:hue-rotate(180deg)
}


.maingrid {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 1em 3em;
    padding: 20px;
    justify-content: start; 
    align-content: stretch; 
    justify-items: start; 
    align-items: stretch; 
    padding: 2em;
  }

.headergrid {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

h1 {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    color: hsl(185, 47%, 98%);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(100)

}


.herobutton {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: hsl(185, 50%, 32%);
    width: 120px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    position:absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -5%);
}

a:visited {
    font-family: 'Montserrat', sans-serif;
    color: gray;
    background-color: hsl(185, 50%, 32%);
    width: 120px;
    text-align: center;
    align-items: stretch;
    border-radius: 20px;
    padding: 10px;
    position:absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, 90%);
}

.flexdiv {
    display: block;
    text-align: center;
}

h2 {
    font-family: 'Ropa Sans', sans-serif;
    color: #052D40;
    font-size: 40px;
    font-weight: 200;
}

.featuretitle {
    font-family: 'Ropa Sans', sans-serif;
    color: #052D40;
    font-weight: 900;
}

.features-1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.features-2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.features-3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

.features-4 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}

.featuredesc {
    font-family: 'Ropa Sans', sans-serif;
    color: rgb(94, 93, 93);
    text-transform: uppercase;
}

p > a:link, a:visited {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: hsl(185, 50%, 32%);
    width: 120px;
    text-align: center;
    align-items: stretch;
    border-radius: 20px;
    padding: 10px;
    height: 20px;
}

.hasbrologo {
    width: 70px;
    position:relative;
    top: 3%;
    left: 0%;
    transform: translate(-5%, -30%);

}

.spangrid {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: .5fr 1fr .5fr; 
    gap: 1px 1px; 
    justify-content: left;
    align-content: space-between;
    font-family: 'Ropa Sans', sans-serif;
    padding-bottom: 10px;
}

@media screen and (max-width: 840px) {
    nav {
        flex-direction: column;
        flex-wrap: wrap;
        flex-basis: auto;
        overflow: scroll;
    }
    .flexdiv {
        flex-direction: column;
        flex-wrap: nowrap;
        flex-basis: auto;
        overflow: scroll;
    }
    .headergrid {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
    }
    h1 {
        font-family: 'Ropa Sans', sans-serif;
        font-size: 1em;
        font-weight: 100;
        color: black;
        text-align: center;
        position: relative;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(100)
    }
    .herobutton {
        font-family: 'Montserrat', sans-serif;
        color: white;
        background-color: hsl(185, 50%, 32%);
        width: 120px;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        position:relative;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
